<div id="map"></div>
<div class="box__route">
  <form id="route" style="display: none;">
    <div class="form-group">
      <label for="routeFrom">From</label>
      <input id="pac-input-from" type="text" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="routeTo">To</label>
      <input id="pac-input-to" type="text" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
<velib-detail [velib]="selectedVelib"></velib-detail>
